@import "tailwindcss";

@font-face {
  font-family: "FT Aktual";
  src: url("/fonts/FTAktualTrial-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "FT Aktual";
  src: url("/fonts/FTAktualTrial-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "FT Aktual";
  src: url("/fonts/FTAktualTrial-Book.otf") format("opentype");
  font-weight: 450;
  font-style: normal;
}
@font-face {
  font-family: "FT Aktual";
  src: url("/fonts/FTAktualTrial-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f3ecdc;
}

html {
  outline: 11px solid #243b71;
  outline-offset: -11px;
}


